<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <context-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>
    <!--sessionKey-->
    <context-param>
        <param-name>userSessionKey</param-name>
        <param-value>username</param-value>
    </context-param>
    <!--重定向的页面-->
    <context-param>
        <param-name>redirectUrl</param-name>
        <param-value>/filterlogin/login.jsp</param-value>
    </context-param>
    <!--不需要过滤的url-->
    <context-param>
        <param-name>unFilteredUrls</param-name>
        <param-value>/filterlogin/list.jsp,/filterlogin/a.jsp,/filterlogin/login.jsp,/filterlogin/doLogin.jsp
        </param-value>
    </context-param>
    <!--配置和映射Servlet-->
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>tencent.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <!--Web应用的配置参数-->
    <context-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>123456</param-value>
    </context-param>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/error.jsp</location>
    </error-page>
    <!--配饰Filter-->
        <filter>
            <filter-name>HelloFilter</filter-name>
            <filter-class>filter.HelloFilter</filter-class>
        </filter>
        <filter-mapping>
            <filter-name>HelloFilter</filter-name>
            <url-pattern>/filter/test.jsp</url-pattern>
            <dispatcher>FORWARD</dispatcher>
        </filter-mapping>
        <error-page>
            <exception-type>java.lang.ArithmeticException</exception-type>
            <location>/filter/test.jsp</location>
        </error-page>
</web-app>